<div class="row center-align">
  <p>
    <a href="/sessions/login" class="waves-effect waves-light btn-large #0d47a1 blue darken-4">Registered User Login</a>
  </p>
  <p><a href="/parents/new" class="waves-effect waves-light btn-large #0d47a1 blue darken-4">New Parent Registration</a>
  </p>
  <p><a href="/teachers/new" class="waves-effect waves-light btn-large #0d47a1 blue darken-4">New Teacher
    Registration</a></p>
</div>