<!DOCTYPE html>
<html>
<head>
  <title>Classevents</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="nav-wrapper #0d47a1 blue darken-4">
    <a href="#" class="brand-logo">The Meadowbrook School</a>
    <ul id="nav-mobile" class="right">
      <% if session[:teacher_id] || session[:parent_id] %>
          <li><a href="/sessions" data-method="delete">Logout</a></li>
      <% end %>
    </ul>
  </div>
</nav>


<div class="container">

  <%= yield %>

</div>
</body>
</html>
